

    <main id="ListView" role="main" class="container">

    <div class="container-fluid">

        <section class="row text-center placeholders">


              <div class="table-responsive text-left">
                <table class="table table-striped">
                 <thead>

                    <tr>
                      <th>Status</th>
                      <th>Text</th>
                      <th>Explanation</th>
                    </tr>
                  </thead>

                  <tbody id="WordList">
                  </tbody>
                                   
                </table>
              </div>
        </section>

        <section class="row text-center">
          <div class="col-sm-2 ">
          	<a id="prevPage" href="#">
		              <img src="img\left.jpg" width="60" height="60">
		                
		              </a>
          </div>
          <div class="col-sm-8 "></div>
          <div class="col-sm-2 ">
          	<a id="nextPage" href="#" >
		              <img src="img\right.jpg" width="60" height="60" ></a>
          </div>
        </section>


    </div>

<div id="department"></div>


   </main>